AUTOMATISATION DE FACTURE ET OCR/automation facture (5).json
{
  "name": "automation facture",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy file').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{invoice_number}} ",
              "replaceText": "={{ $('Google Sheets Trigger').item.json[\"Order ID\"] }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{date}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json.Date.toString() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{nom_client}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json[\"Nom Client\"] }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{telephone_client}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json.Phone.toString() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{adresse_client}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json.Adresse }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{produit}}",
              "replaceText": "={{ $('Filter').item.json.PRODUCT }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{qte}}",
              "replaceText": "={{ $('Filter').item.json.QuantitY .toString() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{prix}}",
              "replaceText": "={{ $('Filter').item.json[\"UNIT PRICE \"] }}DH",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{total_topay}}",
              "replaceText": "={{ $json.Total }}DH",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{totalbrute}} ",
              "replaceText": "={{ $json[\"Total_sans livraison\"] }}DH",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{ship}}",
              "replaceText": "={{ $('Filter').item.json[\"Shipping cost\"] }}DH",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -336,
        112
      ],
      "id": "0bd79c3e-e8d1-4119-b11b-81af5d4b27ed",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_TEMPLATE_DOC_ID",
          "mode": "id"
        },
        "name": "={{ $json[\"Nom Client\"] }}-{{ $json[\"Order ID\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        112
      ],
      "id": "a2b6eb6d-330a-4798-bf68-82734fa00b37",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        112
      ],
      "id": "625612fa-3691-40ac-98d4-2f7c79f5e4fd",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "maisonnouriyah commandes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Confirmer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        112
      ],
      "id": "b242344e-4607-4516-a6a9-1130d5969e16",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d024fdea-1aed-4ba1-9daa-51778614ce7c",
              "name": "=Total_sans livraison",
              "value": "={{ $('Filter').item.json[\"UNIT PRICE \"]* $('Filter').item.json.QuantitY.toString()}}",
              "type": "number"
            },
            {
              "id": "79fae68e-2313-42cc-9662-35c3ff143ff4",
              "name": "Total",
              "value": "={{String($('Filter').item.json[\"UNIT PRICE \"]*$('Filter').item.json.QuantitY + $('Filter').item.json[\"Shipping cost\"])}}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        112
      ],
      "id": "616d316a-f1fb-40f3-babf-a2ee70b703e8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aae2539d-4d32-4b0c-99ed-f74ce515f1b7",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Send",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -864,
        112
      ],
      "id": "946d75ba-dc2b-4735-b7e9-1838d7583479",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "maisonnouriyah commandes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Confirmer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Order ID": "={{ $('Google Sheets Trigger').item.json[\"Order ID\"] }}",
            "lien de facture": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nom Client",
              "displayName": "Nom Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRODUCT",
              "displayName": "PRODUCT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QuantitY",
              "displayName": "QuantitY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UNIT PRICE ",
              "displayName": "UNIT PRICE ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping cost",
              "displayName": "Shipping cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lien de facture",
              "displayName": "lien de facture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        112
      ],
      "id": "8a92dfbc-e2cb-4851-be46-0e93ffd84929",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Copy file').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        112
      ],
      "id": "568857d1-42c6-49be-b43b-e3397f40073c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_GOOGLE_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Copy file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "67f390a3-7d44-4eb6-a582-e9b53387756d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "myZUqjySyHEUbCol",
  "tags": []
}